    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Sarabun:wght@400;700&display=swap');

#b4rl {
    width: 800px;
    font-family: 'Sarabun', 'Josefin Sans';
    background: var(--brg);
    display: flex;
    margin: auto;
    text-align: justify;
    padding: 3vw 0 5vw 0;
}
.b4debox {
    position: relative;
    width: 50%;
    padding: 20px 10px;
}
.decp1 {
    position: absolute;
    z-index: 1;
    background: var(--decp1);
    width: 170px;
    aspect-ratio: 2 / 3;
    border-radius: 5px;
    left: 50px;
    box-shadow: 0 0 4px #00000091;
    top: 00px;
}
.decp2 {
    position: absolute;
    z-index: 2;
    background: var(--decp2);
    width: 210px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    right: 25px;
    top: 30px;
}
.decp3 {
    position: absolute;
    z-index: 2;
    background: var(--decp3);
    width: 200px;
    aspect-ratio: 2 / 3;
    border-radius: 5px;
    top: 180px;
    right: 30px;
    box-shadow: -3px 6px 9px #00000094;
}
.decp4 {
    position: absolute;
    z-index: 0;
    background: var(--decp4);
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    top: 270px;
    left: 0px;
}
.brrsec{
    width: 50%;
    padding: 20px 30px 20px 0;
    color: var(--brt);
    position: relative;
}
.brrsec i{
    font-size: x-large;
}
.brtd{
    text-align: center;
    font-family: "DM Serif Display", serif;
}
.brtd h5 {
    font-size: smaller;
    background: var(--acc1);
    padding: 5px 10px;
    color: var(--acc2);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    font-family: 'Sarabun', 'Josefin Sans';
    font-weight: normal;
}
.brtd h1{
font-style: italic;
}
.brrb {
    text-indent: 5%;
    margin: 40px 0;
    line-height: 2;
}
.brrsec blockquote {
    border-left: 1px solid var(--bordernote);
    padding-left: 5%;
    margin: 2vw 0;
}
.brdec {
    position: absolute;
    z-index: 0;
    background: var(--brdec);
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    bottom: -120px;
    right: -85px;
    rotate: 31deg;
}

/*----mobie-----*/

@media screen and (max-width: 1050px) {
#b4rl {width: 550px;}
.brtd h1 {font-style: italic;font-size: larger;}
.brrb {line-height: 1.5;}
.brtd h5 {font-size: xx-small;}
.brrb,.brrsec span {font-size: smaller;}
.brdec {width: 120px;bottom: -60px;right: -50px;rotate: 31deg;}
.decp1{    width: 100px;    top: 60px;}
.decp2{    width: 120px;top: 65px;}
.decp3{    width: 130px;        top: 160px; right: 40px;;}
.decp4{    width: 150px;    top: 220px;}
}
