@font-face {
  font-family: 'lemon';
  src: url('https://cdn.jsdelivr.net/gh/justtuberxse/zepbie-s-font/lemon-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#candyroll{
    margin: auto;
    padding: 3rem;
    min-height: 400px;
    color:var(--cdrcolor) ;
    font-family: 'lemon', sans-serif;
    text-align: justify;
}

.paper-stack {
  position: relative;
  width: 80%;
  min-height: 250px;
  background:url(https://static.tumblr.com/4969b983f856b55be3699e917b368dc4/svdghan/LDbpbmlvi/tumblr_static_a0i1wo4pqyw48c8wgk88000o4.png);
  padding: 40px 25px;
  border: 1px solid #e0e0e0;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.05);
  margin:auto;
  z-index: 1; 
  transform-style: preserve-3d;
}

.paper-stack::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 100%;
  height: 100%;
  background: var(--paperb);
  border: 1px solid #ddd;
  transform: rotate(-3deg) translateZ(-1px); 
  z-index: -1; 
}

.polaroid-wrapper {
    position: absolute;
    top: 5px;
    right: -25px;
    z-index: 20;
}

.polaroid {
  background: white;
  padding: 10px 10px 25px 10px;
  border: 1px solid #eee;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.2);
  transform: rotate(8deg); }

.polaroid img {
    width: 200px;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    display: block;
}


.paperclip {
    position: absolute;
    top: -100px;
    left: -80px;
    width: 300px;
    z-index: 30;
    transform: rotate(5deg);
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}
.canroll_banner {
    width: 100%;
    aspect-ratio: 16 / 3;
    margin-bottom: 20px;
}
.canroll_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.canroll_Name {
    font-size: xxx-large;
    text-align: center;
}

.candy_divider {
    margin: auto;
    aspect-ratio: 16 / 1;
    width: 80%;
    background: var(--cdrdi) repeat-x;
    background-size: contain;
}
.candy_roleplay {
    padding: 2.5rem;
    text-align: justify;
    width: 80%;
    margin: auto;
    line-height: 2;
}

.candyr_deco {
    position: absolute;
    bottom: -70px;
    left: -95px;
    width: 250px;
    z-index: 25;
    transform: rotate(-12deg);
    user-select: none;
    pointer-events: none;
}

.candyr_deco img {
  width: 100%;
  height: auto;
  filter: drop-shadow(3px 5px 8px rgba(0,0,0,0.2));
}
.candyr_deco:hover {
  transform: rotate(0deg) scale(1.1);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 1050px) {
   .polaroid img {width: 90px;}
   .polaroid-wrapper {top: 5px;right:5px}
   .paperclip {top: -50px;left: -40px;width: 150px;}
   .canroll_Name {font-size: xx-large;}
   .candyr_deco { bottom: -20px; left: -60px; width: 150px;}
   .polaroid {padding: 10px 10px 5px 10px;}
  #candyroll {padding: 1rem;}
  .paper-stack {width: 85%;}
}
