#dandelion_pro{
    max-width: 800px;
    height: auto;
    background: #F5F5DC;
    border: 2px solid var(--ddborder);
    color: #000;
    font-family: 'Bai Jamjuree', serif;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    padding-bottom: 30px;
    
}
#dandelion_pro .header {
    max-width: 900px;
    height: 350px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(245, 245, 220, 1) 100%), var(--ddheader);
    border-radius: 18px;
}
#dandelion_pro .ddlogo{
    max-width: 320px;
    height: 320px;
    background: url(https://i.imgur.com/k8azSya.png) center / cover;
    transform: translate(-10px, 45px);
    margin: auto;
}

#dandelion_self{
    max-width: 800px;
    height: auto;
    background: linear-gradient(180deg, rgba(245, 245, 220, 1) 70%, rgba(143, 130, 119, 1) 100%);
    border: 2px solid #8B8000;
    font-family: 'Bai Jamjuree', serif;
    border-radius: 20px;
    padding-bottom: 100px;
    margin: auto;
}

#dandelion_self .header{
    max-width: 800px;
    height: 280px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(245 245 220) 100%),  var(--ddsheader);
    border-radius: 18px 18px 0 0;}

.selfname{
    font-size: 60px;
    color: #fff;
    font-family: 'Kalnia', serif;
    margin-top: 90px;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 1);
    text-align: center;
}

.selfbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 550px;
    font-size: 16px;
    margin: auto;
}

.selfcollum{
    box-sizing: border-box;
    width: 33.33%;
    padding: 5px;
    font-family: 'Kalnia', serif;
    color: #000;
}
.selfitemsd{
    width: 150px;
    aspect-ratio: 1 / 1;
    background: var(--dditsd);
    border-radius: 100%;
}
.selfitem{
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--dditem);
    filter: drop-shadow(0px 0px 20px #b4cfdb);
}
.selfdes{
    font-family: 'Bai Jamjuree', serif;
    color:#80806c;
    padding-top:20px;
}
.selfp{
    font-size:18px;
    width:110px;
    height:auto;
    margin: auto;
    border:2px solid var(--ddborder);
    text-align: center;

}

#dandelion_em {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    min-width: 500px;
    max-width: 1000px;
    height: auto;
    background: #F5F5DC;
    border-radius: 20px;
    margin: auto;
    color:#000;
    padding-bottom: 20px;
}
#dandelion_em .header{
    width: 100%;
    aspect-ratio: 8 / 2;
    background: url(https://i.gifer.com/2iiB.gif) center / cover, linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(245, 245, 220, 1) 100%), url(https://i.imgur.com/VbEO8GR.jpg) center / cover;
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        border-radius: 18px 18px 0 0;
}
#dandelion_em .logo{
        max-width: 80%;
    aspect-ratio: 1 / 1;
    background: url(https://i.gifer.com/2iiB.gif) center / cover, url(https://iili.io/K0vS38u.png) center / cover, #fff;
    border-radius: 100%;
    border: 3px solid #8B8000;
    position: relative;
    top: 30%;
    left: 8%;
}

#dandelion_em  ::-webkit-scrollbar {width: 0px;}
#dandelion_em ::-webkit-scrollbar-track-piece {background-color: transparent;}
#dandelion_em  ::-webkit-scrollbar-thumb {background: transparent;}

#dandelion_em .cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
}

#dandelion_em .detailsb {
    height: auto;
    background: url(https://i.gifer.com/2iiB.gif) center / cover, #FEFEFB;
    color: #000;
    box-sizing: border-box;
    width: 100%;
    font-size: 1vw;
    padding: 5%;
    border-radius: 12px;
    margin-top: 3%;
    aspect-ratio: 3 / 6;
    text-align: center;
}
.scolb{
    width:100%;
    height: 65%;
    overflow: scroll;
    margin-top:30px;
    -webkit-mask-image: linear-gradient(#000000, #000000, #000000, #000000, transparent 95%);
}
#dandelion_em .emb{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

    
}
.embp {
    box-sizing: border-box;
    width: 33.33%;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    text-align: center;
    padding-bottom: 20px;
}
.empfp{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background: url(https://i.gifer.com/2iiB.gif) center / cover, var(--empfp);
    margin-bottom: 10px;
    border-radius: 12px;
    -webkit-mask-image: linear-gradient(#000000, #000000, #000000, #000000, transparent 95%);
}




