@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Meddon&display=swap');
#gingerbread {
    width: calc(100% - 330px);
    margin: 7rem auto 3rem auto;
    min-height: 30%;
    font-family: "Bai Jamjuree", sans-serif;
    color: var(--gncolor);
    position: relative;
}
#gingerbread section {
    margin: 0 20px 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ginger{
width: 90%;
text-align: justify;
padding: 40px;
background: #eae7e4;
position: relative;
min-height: 400px;
    margin: auto;
        box-shadow: 0 0 15px #000000b3;
}

.ginpola {
     width: 280px;
    height: 300px;
    background: var(--polabg);
    position: absolute;
    z-index: 2;
    left: 20px;
    
    box-shadow: 0 0 15px #00000024;
    rotate: 352deg;
}
.ginpola:hover{
  rotate: 8deg;

}
.mng {
    display: flex;
    width: 60px;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    left: -25px;
}
.mnimg{
    width: 100%;
    aspect-ratio: 1/1;
}
.ginpic {
    width: 250px;
    aspect-ratio: 1 / 1;
    margin: 20px 20px 30px 15px;
    position: relative;
}
#gingerbread h1 {
    text-align: right;
    font-family: var(--gnfont);
    font-size: 3em;
    margin-block-end: 0em;
    line-break: normal;
    border-bottom: 1.5px solid #042d20;
    padding-bottom: 15px;
    width: 60%;
}
#gingerbread h3 {
    text-align: right;
    font-family: var(--gnfont);
    font-size: 1.3em;
    margin-block-end: 0em;
    border-bottom: 1.5px solid #042d20;
    padding-bottom: 10px;
    width: 60%;
}
#gingerbread h5 {
    text-align: right;
    margin-block-start: 1em;
    font-style: italic;
    padding: 5px;
    border-bottom: 1.5px solid #042d20;
    padding-bottom: 10px;
    width: 59%;
}

.ginrole {
    text-align: justify;
width: 95%;
    margin: 0 auto 3em auto;
    line-height: 1.7;
}

.ginnote {
    margin: 1rem auto 1em auto;
    font-size: small;
    width: 80%;
    padding: 5px 10px;
    border-radius: 5px;
}
.gndec1 {
    position: absolute;
    bottom: -50px;
    right: -280px;
    width: 270px;
    background: var(--gnd);
    aspect-ratio: 1 / 1;
    animation: decfloat 5s 
ease-in-out infinite;
}
.env {
width: 80%;
    background: var(--env);
    aspect-ratio: 1 / 1;
    top: -150px;
    right: -185px;
    rotate: 32deg;
    position: absolute;
}
.gnline{
    background: url(https://64.media.tumblr.com/12d0e29067548cb2e74d74744eb7acb2/5b83c0ced1688a19-63/s2048x3072/40ae075c8a8f5f1aecf5a004ff035d0656b6404e.pnj) center/cover;
    width: 80%;
    max-width: auto;
    height: 50px;
    margin: 0.75em auto;
}
.gpin {
    width: 100px;
    aspect-ratio: 1 / 1;
    position: absolute;
    right: -50px;
    top: 50px;
}
.gpc {
    width: 400px;
    height: 500px;
    background: rgba(208, 203, 190, 20) url(https://iili.io/KtCXahg.jpg) center / cover;
    left: -80px;
    bottom: 60px;
    rotate: 353deg;
    padding: 25px 15px 15px 15px;
    box-shadow: 0 0 15px #00000070;
    background-blend-mode: soft-light;
    position: absolute;
}
.gpc .gnp {
    width: 100%;
    aspect-ratio: 4 / 5;
}

@keyframes decfloat { 0%,100%{transform:translate(-50%,0);} 50%{transform:translate(-50%,-15px);} }
@media screen and (max-width: 1050px) {
    #gingerbread {width: 80%;    margin: 3rem auto 3rem auto;}
    #gingerbread h1 {font-size: 1.5em;}
     #gingerbread h3 {font-size: 1em;}
     #gingerbread h5 {width: 58%;font-size: 0.7em;}
    #gingerbread section {margin: 0 20px 2em;}
    .env {width: 60%;    top: -60px;right: -90px;}
    .ginpic {    width: 160px;margin: 20px 20px 30px 20px;}
    .ginpola {width: 200px;height: 210px;top: -30px;left: 20px;}
    .gpc {width: 200px;height: 250px;left: -50px;bottom: 60px;}
    .gpin {width: 80px;right: -40px;top: 50px;}
    .ginrole {margin: 1.5em auto;}
    .gndec1 {right: -200px;width: 200px;}
}








