
@font-face {
  font-family: 'GlinDokya';
  src: url('https://cdn.jsdelivr.net/gh/justtuberxse/zepbie-s-font/397PANIGlinDokyaDemo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#tic {
    width: auto;
    min-height: 100vh;
    margin: auto;
    color: var(--tccolor);
    background: url(https://64.media.tumblr.com/8036d9d070eb543153919361c65d9d6f/5ef6deb46ee9e07a-7b/s2048x3072/4dcde989b42a8373190c9b48b50d3b25b1f57c75.png);
    font-family: 'GlinDokya', sans-serif;
}

.lace-bar {
    position: relative;
    background: center top / contain repeat-x var(--lace);
    height: 34px;
}

#tic_replys {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 15px;
    grid-row-gap: 1rem;
    --tc-border: 1px solid var(--tcborder);
    margin: auto;
    width: 80%;
    padding: 3em;
    font-family: 'GlinDokya', sans-serif;
}
.tic_animal:hover,.tic_flower:hover,.tic_weather:hover,.tic_place:hover,
.tic_color:hover,.tic_food:hover,.tic_beverage:hover,.tic_object:hover{
	transform: scale(1.05) ;
    opacity: 1;
    transition: transform 1.2s cubic-bezier(0.4, 0.0, 0.2, 1); 
     transition-property: box-shadow, transform;
  transition-duration: 350ms;
  transition-timing-function: ease;
    background: #fff;
      box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
   
}
.tic_animal,.tic_flower,.tic_weather,.tic_place,
.tic_color,.tic_food,.tic_beverage,.tic_object{opacity: 0.8;
    border: var(--tc-border);
     border-radius: 10px;    
     padding-bottom: 45px;
     position: relative;
     box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
     z-index: 0;}

.tic-heading {
    position: absolute;
    font-size: calc(0.925rem * 0.875);
    color: #ffffff;
    text-align: center;
    margin-bottom: calc(18px - calc(((0.925rem * 1.8) - 0.925rem) / 2) + 1px);
    margin-top: -1rem;
    right: 0;
    width: fit-content;
    background: #24262b;
    padding: 10px 5px;
    border-radius: 5px;
    z-index: 2;
    text-transform: uppercase;
}
.tic_picheader {
    background: var(--headerpic);
    aspect-ratio: 20 / 9;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
.tic_des {
    padding: 1.5rem;
    text-align: justify;
}
#tic_replys h4 {
    font-style: italic;
    margin-block-start: 0;
    margin-block-end: 1rem;
    font-size: x-large;
}
.tic_char { 
    grid-area: 1 / 2 / 3 / 4;;
    background: var(--tichar);
    border: var(--tc-border);
    border-radius: 10px;
    position: relative;
}
.tic_cn {
    width: calc(100% - 30px);
    background: var(--namebg);
    position: absolute;
    bottom: 0;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
    font-size: larger;
}
.tic_animal {
    grid-area: 1 / 1 / 2 / 2;;
    border: var(--tc-border);
    border-radius: 10px;
    position: relative;
        padding-bottom: 45px;
}
 
.tic_flower { grid-area: 1 / 4 / 2 / 5; }
.tic_weather{ grid-area: 2 / 1 / 3 / 2; }
.tic_place { grid-area: 2 / 4 / 3 / 5;}
.tic_color { grid-area:   3 / 1 / 4 / 2; }
.tic_food { grid-area: 3 / 2 / 4 / 3}
.tic_beverage { grid-area: 3 / 3 / 4 / 4;}
.tic_object { grid-area: 3 / 4 / 4 / 5;}

@media screen and (max-width: 1050px) {
    #tic_replys {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 15px;
        flex-direction: column;
    }
    .tic_char { width: 100%; aspect-ratio: 1/1; }
    #tic_replys h4 { font-size: large; }
    .tic_des { font-size: medium; }
    .tic_picheader {aspect-ratio: 30 / 9;}
}
