@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Sarabun&display=swap');
#tjrev{
    width: 80%;
    background: var(--rebg);
    min-height: 400px;
    color: #2f2926;
    margin: auto;
    padding: 3rem;
    font-family: "Fraunces", serif , "Sarabun", sans-serif;
}

#tjrev h1{
    font-size: xxx-large;
    margin: 20px auto 20px auto;
}
.tjoverall_flex
 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 3rem auto;
    gap: 1.5rem;
}
.tjoverall_left {
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
}
.tjoverall_flex img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    margin: auto;
    border-radius: 10px;
    border: var(--rebor) dashed 2px;
}

.tjoverall_text {
    width: 50%;
    padding: 0.5rem;
    margin: 0 auto;
    border-top: var(--rebor) double 5px;
    border-bottom: var(--rebor) double 5px;
    text-align: justify;
    text-indent: 1rem;
    line-height: 1.7;
}
.tjoverall_comment {
    border: var(--rebor) solid 1px;
    padding-bottom: 0.5rem;
    margin: 2em auto;
    font-size: small;
}
.tjoverall_comment p{margin-inline-start: 1rem;margin-inline-end: 1rem;}
.tjoverall_comment h2 {
    width: 100%;
    background: var(--rebg2);
    font-weight: bold;
    margin: 0 0 10px 0;
    border-bottom: 1px solid var(--rebor);
}
.tjoverall_score {
    width: auto;
    background: var(--rebg3);
    font-weight: bold;
    margin: 1rem auto auto auto;
    padding: 1rem;
    text-align: center;
    color: var(--rebg);
    font-size: large;
    text-transform: uppercase;
    border-radius: 100px;
}
.divider {
    margin: auto;
    width: 50%;
}
.divider img {    width: 100%;}
.tjpart {
    width: 85%;
    margin: 1.5rem auto;
    line-height: 1.7;
    text-align: justify;
}

@media screen and (max-width: 1050px) {
    .tjoverall_flex {
        flex-wrap: wrap;
    }
}
