@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#yueju ::-webkit-scrollbar-thumb { display:none; }

#yueju ::-webkit-scrollbar { display:none; }
#yueju{
    width: auto;
    min-height: 100vh;
   font-family: "Niramit", sans-serif;
       border-style: solid;
    border-image-source: linear-gradient(180deg, rgba(36, 16, 16, 0) 20%, rgb(102 0 0) 50%, rgb(45 3 1) 80%);
    border-image-slice: 1;
    border-width: 3px;
}
#yueju .welcome{
    background: linear-gradient(52deg,rgba(51, 4, 4, 1) 0%, rgba(255, 255, 255, 0) 44%),var(--welcome);
        aspect-ratio: 0.69 / 1;
    margin: auto;
    max-width: 1640px;
    background-blend-mode: multiply;
    position: relative;
        box-shadow: inset 0 0 12px 5px #0502026b;
}

#yueju .infobox{
    width: 500px;
    height: 500px;
    overflow: auto;
    position: absolute;
    top: 650px;
    right: 50px;
        line-height: 1.5;
    color: #fafafa;
    backdrop-filter: blur(3px);
    padding: 20px;
}

#yueju .read {
    color: #ffffffb3;
    position: absolute;
    width: fit-content;
    text-align: center;
    right: 320px;
    bottom: 625px;
}
#yueju .logo {
    aspect-ratio: 1 / 1;
    width: 100%;
    margin: 20px auto;
    background: url(https://iili.io/K1qNpef.png) center / 150%;
}

#yueju p{
    text-align: justify;
    text-indent: 5%;
}

#yueju .line {
    margin: 1rem auto;
    text-align: center;
    font-size: x-large;
}
