@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#yueju ::-webkit-scrollbar-thumb { display:none; }

#yueju ::-webkit-scrollbar { display:none; }

#yueju{
    width: auto;
   font-family: "Niramit", sans-serif;
    border-style: solid;
    border-image-source: linear-gradient(180deg, rgba(36, 16, 16, 0) 20%, rgb(102 0 0) 50%, rgb(45 3 1) 80%);
    border-image-slice: 1;
    border-width: 3px;
    color: #fafafa;
}
.welcome{
    background: linear-gradient(52deg,rgba(51, 4, 4, 1) 0%, rgba(255, 255, 255, 0) 44%),var(--welcome);
        aspect-ratio: 0.69 / 1;
    margin: auto;
    max-width: 1640px;
    background-blend-mode: multiply;
    position: relative;
        box-shadow: inset 0 0 12px 5px #0502026b;
}

.infobox {
    width: 500px;
    height: 500px;
    overflow: auto;
    position: absolute;
    top: 650px;
    right: 50px;
    line-height: 1.5;
    color: #fafafa;
    backdrop-filter: blur(3px);
    padding: 20px;
    -webkit-mask-image: linear-gradient(transparent, transparent, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000, transparent 97%);
}

 .read {
    color: #ffffffb3;
    position: absolute;
    width: fit-content;
    text-align: center;
    right: 320px;
    bottom: 625px;
}
.logo {
    aspect-ratio: 1 / 1;
    width: 100%;
    margin: 20px auto;
    background: url(https://iili.io/K1qNpef.png) center / 150%;
}

#yueju p{
    text-align: justify;
    text-indent: 5%;
}

.line {
    margin: 1rem auto;
    text-align: center;
    font-size: x-large;
}

@media screen and(max-width: 1300px){
.infobox{ width: 400px;height: 400px; font-size: small;top: 350px;right: 50px;}
.line{    margin: 0.5rem auto;font-size: small;}
.read {    right: 270px;bottom: 425px;}
}
 /*----mobie-----*/

@media screen and (max-width: 1050px){
.infobox{width: 200px;height: 200px; font-size: small;top: 250px;right: 0px;}
.line{margin: 0.5rem auto;font-size: small;}
.read {right: 115px;bottom: 325px;}

}

 /*----shelf-----*/
.shelf {
    background: var(--shelf);
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;

}
.shelfbox {
    width: 90%;
    padding: 3rem;
    position: relative;
    overflow: scroll;
    height: 600px;
        backdrop-filter: blur(2px);
 -webkit-mask-image: linear-gradient(transparent, transparent, #000000, #000000, #000000, #000000, #000000, #000000, #000000,#000000,transparent,transparent 95%)
}
.colllabe{ text-align: center;margin: 8rem 0;
}
.colllabe img{width: 300px;aspect-ratio: 1 / 1;}
.previwe {
    display: flex;
    align-items: center;
        margin: 5rem 0 8rem;;
}

#yueju h3{     color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    text-shadow: 0 0 7px white;

}
#yueju h4{
    text-shadow: 0 0 15px white;
    text-align: center;
}
.itembox{
    width: 35%;
    aspect-ratio: 1 / 1;
    margin: auto;
    line-height: 1.5;
}
.itembox img{
    width: 100%;
}
.itemdetail{
    width: 40%;
    text-align: justify;
    text-indent: 5%;
        padding: 50px;
}

 /*----mobie-----*/


@media screen and (max-width: 1050px){
    .previwe {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.colllabe{ text-align: center;margin: 1rem 0 8rem;}
#yueju h3{    font-size: 1rem;}
.itemdetail {width: 80%;padding: 20px;font-size: small;}
.shelfbox{    height: 600px;}
.itembox{width: 95%;}
.shelfbox{-webkit-mask-image: linear-gradient(transparent, #000000, #000000, #000000, #000000, transparent 95%);}

}
