@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#yueju ::-webkit-scrollbar-thumb { display:none; }

#yueju ::-webkit-scrollbar { display:none; }
#yueju{
    width: auto;
    min-height: 100vh;
   font-family: "Niramit", sans-serif;
}
#yueju .welcome{
    background: linear-gradient(52deg,rgba(51, 4, 4, 1) 0%, rgba(255, 255, 255, 0) 44%),var(--welcome);
        aspect-ratio: 0.69 / 1;
    margin: auto;
    max-width: 1640px;
    background-blend-mode: multiply;
    position: relative;
}

#yueju .weinfo{
width: 400px;
    height: 300px;
    overflow: auto;
    position: absolute;
    text-align: justify;
    text-indent: 5%;
    bottom: 650px;
    right: 100px;
    line-height: 1.5;
    color: #fafafa;
    backdrop-filter: blur(3px);
    padding: 20px;
}
#yueju .logo {
    aspect-ratio: 1 / 1;
    width: 100%;
    margin: 20px auto;
    background: url(https://iili.io/K1qNpef.png) center / 150%;
}
